@model IEnumerable<BudgetDS.Models.CodeFirst.BudgetItem>

<h2>
    Current Budget
    @Html.ActionLink("+ Add Budget Item", "Create", "BudgetItems", null, new { @class = "btn btn-success" })
</h2>
<hr />
<div class="panel panel-default table-responsive col-md-9">
    <div class="panel-heading">
        All Budget Items
    </div>
    <div class="padding-md clearfix">
        <table class="table table-striped" id="dataTable">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Frequency</th>
                    <th>Type</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td>$ @Html.DisplayFor(modelItem => item.Amount)</td>
                        <td>Monthly</td>
                        <td>
                            @if (item.Type == true)
                            {
                                <label>Income</label>
                            }
                            else
                            {
                                <label>Expense</label>
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "BudgetItems", new { id = item.Id }, null) |
                            @Html.ActionLink("Delete", "Delete", "BudgetItems", new { id = item.Id }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Budget Help
            </div>
            <div class="panel-body">
                <p>Creating a budget can be difficult!</p>
                <p>To start, use your debit ledger and credit card statements to estimate your monthly budget. You can always update it later.</p>
                <p>We have provided categories to make it easier to help you separate your income and expenses.</p>
            </div>
        </div><!-- /panel -->
    </div><!-- /.col -->


@section scripts{
    <script>
        $('#dataTable').DataTable({
            "order": [0, 'desc']
        });
    </script>
}
