@model BudgetDS.Models.CodeFirst.Transaction

<div class="login-wrapper">
    <div class="login-widget animation-delay1">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="pull-left">
                    Add a New Transaction
                </div>
                <hr />
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.AccountId)

                            <div class="form-group">
                                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @value = "System.DateTimeOffset.Now.LocalDateTime", @type = "date", @onfocus = "(this.type='date')" } })
                                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CategoryId, "Category", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">                                
                                <div class="col-md-12 col-md-offset-3">
                                    <label class="label-radio inline">
                                        <input type="radio" name="Type" value="true">
                                        <span class="custom-radio"></span>
                                        Income
                                    </label>
                                    <label class="label-radio inline">
                                        <input type="radio" name="Type" value="false">
                                        <span class="custom-radio"></span>
                                        Expense
                                    </label>
                                </div><!-- /.col -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 col-md-offset-4">
                                    <label class="label-checkbox inline">
                                        Reconciled?
                                        <input type="checkbox" class="regular-checkbox chk-delete" name="Reconcile" value="true" />
                                        <span class="custom-checkbox info bounceIn animation-delay4"></span>
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default pull-right" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div><!-- /login-widget -->
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

}