@model IEnumerable<BudgetDS.Models.CodeFirst.Account>

<div class="container">
    <div class="row">
        <h2>
            Accounts
            @Html.ActionLink("+ Add Account", "Create", "Accounts", null, new { @class = "btn btn-success" })
        </h2>
    </div>
    </div>
<hr />
    <div class="panel panel-default table-responsive">
        <div class="padding-md clearfix">
            <table class="table table-striped" id="dataTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Balance</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(item.Name, "Details", "Accounts", new { id = item.Id }, null)</td>
                            <td><span>$ </span>@Html.DisplayFor(modelItem => item.Balance)</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

@section scripts{
    <script>
        $('#dataTable').DataTable({
            "order": [0, 'desc']
        });
    </script>
}